html,
body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  outline: 1px solid rgb(214, 214, 214);
}

.main-wrapper {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #12003d; */
}

.sections-wrapper {
  margin: 1rem 0;
}

section {
  margin: 0.75rem 0;
}

.color-button {
  border-radius: 50%;
  min-width: 1.5rem;
  min-height: 1.5rem;
}

#special-buttons {
  /* margin-left: 2rem; */

  float: right;
}
